@import url('icons/style.css');
.field:not(:last-child)::after{
  content: '. ';
}
.fname{
  display: none;
}
.rights-list{
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.rights-list li{
  display: inline;
  margin-right: 4px;
}
.rights-list li a{
  text-transform: uppercase;
}